html,
body {
  background-color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #272a33;
  min-height: 100vh;
}
* {
  margin: 0;
  box-sizing: border-box;
  font-family: inherit;
}
.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}
.btn {
  display: inline-block;
  font-family: "Open Sans", sans-serif;
  background-color: #272a33;
  color: #fff;
  border: none;
  padding: 8px 30px 12px 30px;
  font-weight: 400;
  font-size: 18px;
  line-height: 145%;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.25s ease;
  border-radius: 8px;
}
.btn:hover {
  background-color: #ee753e;
}
.btn:disabled {
  background-color: #d4d4d6;
  cursor: default;
}
h1 {
  text-transform: uppercase;
  font-size: 36px;
  font-weight: bold;
}

/* HEADER */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 21px;
  padding-bottom: 100px;
}
.header .desktop__nav .nav__links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 80px;
}
.header .desktop__nav .nav__link {
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  color: #272a33;
  font-weight: 400;
  font-size: 16px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.25s ease;
}
.header .desktop__nav .nav__link:hover {
  color: #ee753e;
}
.header .mobile__nav {
  width: 50px;
  height: 50px;
  display: none;
  cursor: pointer;
  transition: all 0.25s ease;
}
.header .mobile__nav img {
  width: 100%;
  object-fit: cover;
}
.menu-links {
  display: none;
}

.menu-links .menu-link {
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  color: #272a33;
  font-weight: 400;
  font-size: 16px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.25s ease;
  line-height: 150%;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #D5DFE9;
}

/* CATALOG */
.catalog {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 30px;
}
.catalog .catalog-column {
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: stretch;
    flex:1;
}
.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 30px 0 0 0;
}
#catalog .title {
  padding-bottom: 30px;
}

.catalog .catalog-item {
  display: flex;
  justify-items: start;
  align-items: stretch;
  gap: 30px;
  flex: 1; /* ← Это заставляет каждый item растягиваться */
  min-height: 0;
}
.catalog .catalog-item .catalog-item__image {
  width: 220px;
  height: 220px;
}
/* .catalog .catalog-item .catalog-item__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
} */
.catalog .catalog-item .catalog-item__content {
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: start;
  padding: 30px 0;
  flex: 1;
  
}
.catalog .catalog-item .catalog-item__content .catalog-item__title {
  font-size: 18px;
  font-weight: 400;
  line-height: 120%;
}
.catalog .catalog-item .catalog-item__content .catalog-item__info {
  display: flex;
  justify-items: start;
  align-items: center;
  gap: 10px;
  margin-top: auto; 
}
.catalog .catalog-item .catalog-item__content .catalog-item__info .info-check {
  width: 14px;
  height: 14px;
}
.catalog
  .catalog-item
  .catalog-item__content
  .catalog-item__info
  .info-check
  img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.catalog .catalog-item .catalog-item__content .catalog-item__info .info-text {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 145%;
}

/* ABOUT */
.about {
  margin-bottom: 50px;
}
.about__block {
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 30px;
}
.about__block .about__content {
  width: 100%;
}
.about__images {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.about__images .about__image-group {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 30px;
}
.about__content {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  gap: 20px;
}
.about__content .about__title {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 150%;
}
.about__content .about__description {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: stretch;
}
.about__content .about__description .about__description-item {
  display: flex;
  justify-content: start;
  gap: 15px;
  align-items: center;
}
.about__content .about__description .about__description-item .icon-check {
  height: 24px;
  width: 24px;
}
.about__content .about__text {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}
